/* * {
    border: 2px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0; 
}

/* Header CSS */

ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    height: 50px;
    background-color: rgb(49, 50, 78);
    display: flex;
    justify-content: space-around;
    color: white;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.header_links {
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* Section 1 */

.section1 {
    background-color: rgb(49, 50, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: white;
}


.section1_left, .section1_right {
    width: 300px;
    margin: 0 5px;
}


.section1_text_header {
    font-weight: bold;
    font-size: 30px;
}

.section1_left p, .section1 h1{
    margin-top: 0px;
    margin-bottom: 4px;
    
}

.section1_text, .section1_text_signup {
    font-size: 12px;
}

.section1_text_signup {
    padding: 5px;
    height: 20px;
    width: 80px;
    font-weight: bold;
    background-color: rgb(45, 106, 218);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1_right {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
}

/* Section 2 */
.section2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 350px;
    color: black;
}

.section2_top {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.section2_bottom {
    display: inline-flex;
    justify-content: center;
    width: 400px;
    gap: 20px;
  
}

.section2_bottom_blocks {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items:center; */
    text-align: center;
    gap: 5px;
    padding: 10px;
    
}

.section2_images {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(84, 123, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.section2_images_text {
    font-size: 13px;
}

/* Section 3 */

.section3 {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;

}

.section3_text {
    width: 300px;
    color: black;
    font-style:italic;
}

.section3_text p{
    margin: 0px;
}

.section3_text p+p {
    font-style:normal;
    font-weight: bold;
    display: flex;
    justify-content:flex-end;
}

.section4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: white;
}

/* section4 */

.section4_popup {
    background-color: rgb(0, 162, 255);
    width: 600px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section4_popup_text {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section4_popup_text p {
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}

.section4_popup_text p+p {
    font-weight: normal;
    font-size: 13px;
    display: flex;
    align-items: flex-start;
}

.section4_popup_signup {
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid white;
    padding: 5px;
    height: 20px;
    width: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer {
    height: 50px;
    background-color: rgb(49, 50, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
}